@import 'constants';

.contact {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3.125rem;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 1450px) {
        padding: 1.25rem;
    }

    @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        height: calc(100% + 90px);
        padding: 0 1.25rem 1.25rem;
    }

    .contact-view {
        flex-direction: column;
        justify-content: space-between;
        max-width: 34.125rem;
        min-height: 39.375rem;

        @media (max-width: 1450px) {
            max-width: 28.125rem;
            min-height: 28.75rem;
        }

        @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
            min-height: 0;
            flex-grow: 1;
            margin-top: 1.875rem;
            max-height: 500px;
        }

        @media (max-width: 500px) {
            justify-content: space-around;
            margin-top: 0;
        }

        .title {
            font-size: 4rem;
            font-weight: $semibold;
            line-height: 5.75rem;

            @media (max-width: 1450px) {
                font-size: 3rem;
                line-height: 3.5rem;
            }

            @media (max-width: 500px) {
                font-size: 2.25rem;
                line-height: 2.8125rem;
            }
        }

        .description {
            font-size: 1.5rem;
            line-height: 2.375rem;
            letter-spacing: .67;

            @media (max-width: 1450px) {
                font-size: 1.125rem;
                line-height: 2rem;
            }

            @media (max-width: 500px) {
                font-size: 1rem;
                line-height: 1.5625rem;
            }
        }

        .contact-button {
            width: 10.625rem;
            height: 3.5rem;
            border-radius: 1.75rem;
            background-color: $magenta;
            color: white;
            font-size: 1rem;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 0px 0px 1.25rem 0px rgba(0,0,0,0.61);
            user-select: none;

            &:hover {
                box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.61);
            }

            &:active {
                box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.61), 0px 0px 20px 5px rgba(0,0,0,0.61);
            }

            @media (max-width: 500px) {
                height: 2.5rem;
            }
        }

        .contact-data {
            margin-top: 1.875rem;
            justify-content: space-between;

            @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
                margin-top: 0;
            }

            @media (max-width: 500px) {
                margin-right: 30px;
                flex-direction: column;
            }

            .contact-data-item {
                flex-direction: column;
                align-items: flex-start;

                @media (max-width: 500px) {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }

                .label {
                    font-size: 0.875rem;
                    opacity: .7;
                    margin-bottom: 0.625rem;

                    @media (max-width: 500px) {
                        margin-bottom: 0.3125rem;
                    }
                }

                .value {
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;

                    @media (max-width: 1450px) {
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }

    .contact-image-container {
        margin: 15px;
        justify-content: center;
        position: relative;
        display: block;
        height: 38.125rem;

        @media (max-width: 1450px) {
            height: 16.375rem;
        }

        @media (max-width: 500px) {
            align-self: center;
            margin: 10px;
            height: 9.375rem;
        }

        .contact-image {
            z-index: 100;
            height: 100%;

            @media (max-width: 500px) {
                width: unset;
            }
        }

        .contact-image-shadow {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $magenta;
        }
    }
}
