@import 'constants';

.about-me {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 90px);
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 10% 2% 17%;

    @media (max-width: 1600px) {
        padding-left: 5%;
        padding-right: 8%;
    }

    @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
        padding: 5%;
    }

    .about-me-title {
        font-weight: $semibold;
        font-size: 4.5rem;
        color: #212121;
        margin-bottom: 3.125rem;

        @media (max-width: 1350px) {
            font-size: 3rem;
        }

        @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
            align-self: center;
        }

        @media (max-width: 500px) {
            font-size: 2.25rem;
        }
    }

    .characteristics {
        color: #2121214D;
        font-size: 17.8125rem;
        opacity: .4;
        position: fixed;
        left: 100vw;
        top: calc(50% - .5em);
        line-height: 1em;
        white-space: nowrap;
        font-weight: 600;
        padding-right: 3.125rem;

        @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
            top: calc(32% - .5em);
            font-size: 11.0625rem;
        }

        @media (max-width: 500px) {
            top: calc(28% - .5em);
        }
    }

    .quotes {
        align-self: flex-end;
        position: relative;
        flex-grow: 1;
        width: 40.625rem;

        @media (max-width: 1350px) {
            width: 31.25rem;
        }

        @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
            align-self: stretch;
            width: unset;
        }
    }
}
