@import 'constants';

.home {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 1600px) {
        padding-left: 3%;
    }

    @media (max-width: 650px) {
        padding-left: 40px;
    }

    .page-title {
        flex-direction: column;
        font-size: 8.875rem;
        font-weight: $semibold;
        line-height: 12.5rem;

        @media (max-width: 1600px) {
            font-size: 7rem;
            line-height: 10.5rem;
        }

        @media (max-width: 1400px) {
            font-size: 5.4375rem;
            line-height: 8.5rem;
        }

        @media (max-width: 700px) {
            font-size: 3.125rem;
            line-height: 6.5rem;
        }

        @media (max-width: 400px) {
            font-size: 2.5rem;
            line-height: 6.0rem;
        }

        .colored {
            color: $magenta;
        }

        .second-line, .third-line {
            margin-top: -42.5px;
        }
    }

    .page-description {
        max-width: 35rem;
        font-size: 1.125rem;
        letter-spacing: 0.5px;
        opacity: 0.7;
        line-height: 2.25rem;

        @media (max-width: 650px) {
            font-size: 1rem;
            max-width: 16.625rem;
            line-height: 2rem;
            margin-bottom: 1rem;
        }
    }
}
