@import 'constants';

.projects {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 2% 0 0 8%;

    @media (max-width: 1400px) {
        padding-left: 1.25rem;
    }

    @media (max-width: 500px) {
        padding-left: 0.3125rem;
    }

    @media (max-aspect-ratio: 1/1), (max-width: 700px) {
        height: calc(100% + 50px);
    }

    .projects-title {
        font-weight: $semibold;
        font-size: 4.5rem;
        margin-bottom: 1.25rem;
        margin-left: 12.5rem;

        @media (max-width: 1350px) {
            font-size: 3rem;
            margin-left: 0;
        }

        @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
            align-self: center;
        }

        @media (max-width: 500px) {
            font-size: 2.25rem;
        }
    }

    .projects-view {
        flex-grow: 1;
        height: 100%;

        .timeline-container {
            position: relative;
            margin-right: 6.25rem;
            min-width: 95px;
            overflow: hidden;

            @media (max-width: 1400px) {
                margin-right: 3.125rem;
            }

            @media (max-width: 500px) {
                margin-right: 0.3125rem;
                min-width: 5rem;
            }

            .timeline {
                position: absolute;
                left: 0;
                top: calc(50% - 12px);
                flex-direction: column;

                .timeline-item {
                    height: 1.5625rem;
                    align-items: center;

                    .year {
                        width: 2.8125rem;
                        font-size: 1rem;
                        line-height: 1.5625rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: .7;

                        @media (max-width: 500px) {
                            font-size: 0.875rem;
                            width: 1.875rem;
                        }
                    }

                    .line {
                        width: 0.625rem;
                        height: 0.0625rem;
                        background-color: #707070;
                        margin: 0 1.25rem;
                    }
                }
            }

            .current-indicator {
                position: absolute;
                right: calc(1.25rem - 10px);
                top: calc(50% - 1px);
                width: 30px;
                height: 2px;
                background-color: $magenta;
            }
        }

        .projects-overview-container {
            flex-grow: 1;
            overflow: hidden;

            @media (max-aspect-ratio: 1/1), (max-width: 700px) {
                display: block;
            }

            .projects-overview {
                align-items: center;
                transition: transform .5s ease-in-out;

                @media (max-aspect-ratio: 1/1), (max-width: 700px) {
                    flex-direction: column;
                    align-items: flex-start;
                    transition: none;
                }

                .project {
                    width: 29.625rem;
                    height: 29.625rem;
                    padding: 3.375rem 2.3125rem 2rem;
                    flex-direction: column;
                    opacity: 0;
                    transition: opacity .5s;
                    margin-right: 2.1875rem;
                    position: relative;
                    transition: color .5s ease-in-out;

                    @media (max-width: 1600px) {
                        width: 22.125rem;
                        height: 22.125rem;
                        padding: 2.5rem 2.1875rem 1.875rem;
                    }

                    @media (max-aspect-ratio: 1/1), (max-width: 700px) {
                        margin-bottom: 2.1875rem;
                    }

                    @media (max-width: 700px) {
                        width: 15.625rem;
                        height: 21.875rem;
                        padding: 0.9375rem 1.5625rem 1.5625rem 1.25rem;
                    }

                    &::before {
                        content: '';
                        background-color: transparent;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: top 1s ease-in-out, left 1s ease-in-out, background-color 1.5s ease-in-out;
                    }

                    &.primary {
                        color: #212121;
                        position: relative;

                        .project-background {
                            background-color: white;
                        }

                        &::before {
                            background-color: $magenta;
                            top: 1.625rem;
                            left: 1.625rem;

                            @media (max-width: 500px) {
                                top: 0.9375rem;
                                left: 0.9375rem;
                            }
                        }

                        animation: background-opening 5s;
                    }

                    .project-background {
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 50;
                        transition: background-color 1s ease-in-out;
                    }

                    .title {
                        font-size: 2.5rem;
                        font-weight: $semibold;
                        line-height: 3.6875rem;
                        margin-bottom: 1.25rem;
                        z-index: 60;

                        @media (max-width: 1600px) {
                            font-size: 1.5rem;
                            line-height: 2.1875rem;
                            margin-bottom: 0.9375rem;
                        }

                        @media (max-aspect-ratio: 1/1), (max-width: 700px) {
                            font-size: 24px;
                            line-height: 30px;
                            margin-bottom: 0.9375rem;
                        }
                    }

                    .description {
                        font-size: 18px;
                        line-height: 36px;
                        font-family: 'Roboto';
                        letter-spacing: .5px;
                        opacity: .85;
                        z-index: 60;

                        @media (max-width: 1600px) {
                            font-size: 1rem;
                            line-height: 2rem;
                        }

                        @media (max-aspect-ratio: 1/1), (max-width: 700px) {
                            font-size: 0.875rem;
                            line-height: 1.5rem;
                        }
                    }

                    .spacing {
                        flex-grow: 1;
                    }

                    .link {
                        text-decoration: none;
                        color: #2E2E2E;
                        font-weight: $semibold;
                        align-self: flex-start;
                        z-index: 60;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
