@import 'constants';

.dylan-web {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0E0E0E;

    .background-image {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        max-height: 100%;

        @media (max-aspect-ratio: 1/1), (max-width: 700px) {
            opacity: .4;
            top: -100px;
        }

        @media (max-width: 700px) {
            right: -150px;
        }

        @media (max-width: 400px) {
            top: -150px;
        }

        @media (min-height: 1080px) {
            height: 100vh;
        }
    }

    .top-container {
        height: 7.625rem;
        display: flex;
        align-items: center;
        padding: 0 8.75rem 0 1.6875rem;
        z-index: 300;

        @media (max-width: 700px) {
            padding-right: 2.1875rem;
            height: 4.375rem;
        }

        .menu-button-container {
            margin-right: 5rem;

            .menu-button {
                width: 1.125rem;
            }

            @media (max-width: 600px) {
                margin-right: 2rem;
            }
        }

        .top-middle-container {
            flex-grow: 1;

            .name {
                font-weight: 600;
                font-size: 1.5rem;
            }
        }

        .languages {
            .language {
                font-size: 0.875rem;
                font-weight: 600;
                opacity: .7;
                margin-left: 0.625rem;

                &.active {
                    color: $magenta;
                    opacity: 1;
                }
            }
        }
    }

    .center-container {
        flex-grow: 1;
        z-index: 200;

        .left-container {
            flex-direction: column;
            justify-content: center;
            z-index: 200;

            .social-networks {
                flex-direction: column;
                align-items: center;
                margin: 0 1.6875rem;
                width: 1.125rem;

                @media (max-width: 650px) {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                    margin: 0;
                    z-index: 200;
                }

                .social-network-link {
                    &:not(:last-child) {
                        margin-bottom: 1.875rem;
                    }

                    .social-network {
                        max-width: 1.125rem;
                        max-height: 1.125rem;
                    }
                }
            }
        }

        .page-content {
            flex-grow: 1;
            position: relative;
        }

        .right-container {
            flex-direction: column;
            justify-content: center;
            z-index: 200;

            @media (max-width: 650px) {
                display: none;
            }

            .steps {
                flex-direction: column;
                align-items: center;
                margin: 0 1.5rem;

                .step {
                    width: 0.875rem;
                    height: 0.875rem;
                    background-color: #8A8A8A;
                    border-radius: 50%;

                    &:not(:last-child) {
                        margin-bottom: 2.3125rem;
                    }

                    &.active {
                        background-color: $magenta;
                    }
                }
            }
        }
    }

    .bottom-container {
        height: 7.625rem;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1.6875rem;
        z-index: 100;

        @media (max-width: 650px) {
            height: 5.625rem;
            justify-content: center;
        }

        .last-update {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-size: 0.875rem;

            @media (max-width: 650px) {
                display: none;
            }
        }

        .scroll-tip-container {
            height: 4.375rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .scroll-tip {
                font-size: 0.75rem;
            }

            .scroll-tip-arrow {
                max-width: 1.3125rem;
                max-height: 1.3125rem;
            }
        }

        .empty {
            width: 20px;

            @media (max-width: 650px) {
                display: none;
            }
        }
    }
}
