@import 'constants';

.quote {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-aspect-ratio: 1/1), (max-width: 1000px) {
        top: unset;
        bottom: 0;
    }

    .quote-icon {
        font-family: 'Tallys';
        font-size: 11.8125rem;
        color: $magenta;
        margin-right: 1.5625rem;
        margin-top: -1.875rem;
    }

    .quote-content {
        flex-direction: column;
        flex-grow: 1;

        .quote-text {
            color: #2E2E2E;
            font-size: 2rem;
            line-height: 3.375rem;
            letter-spacing: 0.07rem;
            margin-bottom: 3.125rem;

            @media (max-width: 1350px) {
                font-size: 1.5rem;
                line-height: 2.125rem;
            }

            @media (max-width: 500px) {
                font-size: 1.25rem;
                line-height: 1.875rem;
                margin-right: 1.25rem;
            }

            @media (max-width: 400px) {
                font-size: 1.125rem;
                line-height: 1.5rem;
                margin-bottom: 1.875rem;
            }
        }

        .quote-author {
            color: magenta;
        }

        .contact-reference {
            color: #212121;
            font-size: 0.875rem;
        }
    }
}
