@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: 'Tallys';
    src: url('assets/fonts/Tallys.woff2') format('woff2'),
        url('assets/fonts/Tallys.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    // Utilizado para controlar la escala de los REM
    font-size: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    white-space: pre-line;

    @media (max-width: 370px) {
        font-size: 14px;
    }

    @media (max-width: 300px) {
        font-size: 12px;
    }

    @media (min-width: 2000px) {
        font-size: 18px;
    }

    @media (min-width: 2500px) {
        font-size: 20px;
    }

    @media (min-width: 3000px) {
        font-size: 22px;
    }
}

body {
    margin: 0;
    white-space: unset;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

div {
    box-sizing: border-box;
    display: flex;
}

svg-icon {
    display: flex;
}

// Clases útiles

.clickable-text {
    cursor: pointer;
    user-select: none;
}

.active-page {
    z-index: 20;
}

.link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
