@import 'constants';

.menu-overlay {
    position: fixed;
    z-index: 500;
    height: 100vh;
    max-width: 0;
    width: 100vw;
    overflow: hidden;
    transition: max-width .5s;
    background-color: rgba(black, .9);

    &.open {
        max-width: 100vw;
    }

    .menu {
        min-width: 31.875rem;
        width: 31.875rem;
        background-color: #2E2E2E;

        @media (max-width: 600px) {
            width: 100%;
            min-width: 100vw;
        }

        .left {
            padding: 3.25rem 0 0 3.1875rem;
            align-items: flex-start;
        }

        .right {
            flex-grow: 1;
            flex-direction: column;
            align-items: flex-start;
            padding: 2.6875rem 0 0 3.1875rem;

            @media (max-width: 600px) {
                padding: 2.6875rem 69px 0 0;
                align-items: center;
                text-align: center;
            }

            .name {
                font-size: 1.375rem;
                font-weight: $semibold;
                line-height: 2.1875rem;
                margin-bottom: 5rem;

                @media (max-width: 600px) {
                    margin-bottom: 3rem;
                }
            }

            .button {
                font-size: 2.375rem;
                line-height: 3.5625rem;
                margin-bottom: 2.375rem;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}
